<template>
  <users-component />
</template>

<script>
import UsersComponent from '../components/UsersComponent'

export default {
  name: 'HomeView',
  components: {
    UsersComponent
  }
}
</script>
