<template>
  <v-container>
    <v-row class="text-center justify-center" align="center">
      <v-data-table
        :headers="headers"
        :items="users"
        class="elevation-1"
      >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-text-field
            label="Búsqueda"
            class="mx-4 mt-4"
            dense
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            dark
            class="mb-2"
            @click="dialog=true,editItem = []"
          >
            <v-icon>mdi-plus</v-icon>
            Nuevo usuario
          </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.acciones`]="{ item }">
        <v-btn small color="primary" icon @click="openEdit(item)">
          <v-icon small>mdi-pencil</v-icon>
        </v-btn>
        <v-btn small color="primary" icon @click="deleteRecord(item)">
          <v-icon small>mdi-delete</v-icon>
        </v-btn>
      </template>
      </v-data-table>
    </v-row>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="350px"
    >
      <v-card>
        <v-card-title class="headline justify-center" >
          {{ formTitle }}
        </v-card-title>
        <v-container>
          <v-form ref="form">
          <v-row>
            <v-col class="mx-4">
              <v-text-field
                label="Cédula"
                prepend-inner-icon="mdi-card-account-details"
                dense
                counter="20"
                maxlength="20"
                required
                v-model="txtcedula"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mx-4">
              <v-text-field
                label="Nombres"
                prepend-inner-icon="mdi-account"
                dense
                counter="100"
                maxlength="100"
                v-on:keypress="isLetter($event)"
                :rules="[rules.name]"
                required
                v-model="txtnombres"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mx-4">
              <v-text-field
                label="Apellidos"
                prepend-inner-icon="mdi-account"
                dense
                counter="100"
                maxlength="100"
                v-on:keypress="isLetter($event)"
                required
                v-model="txtapellidos"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mx-4">
              <v-autocomplete
                :items="countries"
                label="País"
                prepend-inner-icon="mdi-map-marker"
                item-value="name.common"
                item-text="name.common"
                dense
                required
                v-model="txtpais"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mx-4">
              <v-text-field
                label="Email"
                prepend-inner-icon="mdi-email"
                dense
                counter="150"
                maxlength="150"
                :rules="[rules.required, rules.email]"
                required
                v-model="txtemail"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mx-4">
              <v-text-field
                label="Dirección"
                prepend-inner-icon="mdi-home"
                dense
                counter="180"
                maxlength="180"
                required
                v-model="txtdireccion"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mx-4">
              <v-text-field
                label="Celular"
                prepend-inner-icon="mdi-phone"
                dense
                counter="10"
                maxlength="10"
                v-on:keypress="isCellphone($event)"
                :rules="[rules.cellphone]"
                required
                v-model="txtcelular"
              ></v-text-field>
            </v-col>
          </v-row>
          </v-form>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" text @click="dialog = false">Cerrar</v-btn>
          <v-btn v-if="editItem.length === 0" color="success" text @click="saveUser()" :loading="loading">Guardar</v-btn>
          <v-btn v-else color="success" text @click="editUser()" :loading="loading">Actualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'UserComponent',
  data: () => ({
    headers: [
      { text: 'Cédula', value: 'cedula' },
      { text: 'Nombres', value: 'nombres' },
      { text: 'Apellidos', value: 'apellidos' },
      { text: 'País', value: 'pais' },
      { text: 'Email', value: 'email' },
      { text: 'Dirección', value: 'direccion' },
      { text: 'Celular', value: 'celular' },
      { text: 'Acciones', value: 'acciones' }
    ],
    txtcedula: '',
    txtnombres: '',
    txtapellidos: '',
    txtciudad: '',
    txtpais: '',
    txtemail: '',
    txtdireccion: '',
    txtcelular: '',
    users: [],
    countries: [],
    dialog: false,
    loading: false,
    editItem: [],
    rules: {
      name: value => value.length >= 5 || 'Mínimo 5 caracteres.',
      cellphone: value => value.length >= 10 || 'Necesarios 10 caracteres.',
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'E-mail inválido.'
      }
    }
  }),
  async mounted () {
    this.loadCountryData()
    this.loadData()
  },
  methods: {
    isLetter (e) {
      const char = String.fromCharCode(e.keyCode)
      if (/^[A-Za-z ]+$/.test(char)) return true
      else e.preventDefault()
    },
    isCellphone (e) {
      const char = String.fromCharCode(e.keyCode)
      if (/^[A-Za-z ]+$/.test(char)) e.preventDefault()
      else return true
    },
    loadCountryData: function () {
      axios.get('https://restcountries.com/v3.1/region/south america', {
      })
        .then(response => {
          this.countries = response.data
        })
        .catch((error) => {
          console.log(error)
        })
    },
    async loadData () {
      try {
        await axios.get('http://localhost:2083/users-backend/public/usuario', {
        })
          .then(response => {
            this.users = response.data
          })
          .catch((error) => {
            console.log('Error')
            console.log(error)
          })
      } catch (error) {
        console.log(error)
      } finally {
        this.loading = false
      }
    },
    editUser () {
      if (this.$refs.form.validate()) {
        this.editData()
      }
    },
    async editData () {
      var pais = String(this.txtpais)
      try {
        this.loading = true
        await axios.put('http://localhost:2083/users-backend/public/usuario', {
          id: this.editItem.id,
          nombres: this.txtnombres,
          apellidos: this.txtapellidos,
          cedula: this.txtcedula,
          pais: pais,
          email: this.txtemail,
          direccion: this.txtdireccion,
          celular: this.txtcelular
        })
          .then(response => {
            alert(response.data.respuesta)
            console.log(response)
            this.loadData()
            this.dialog = false
          })
          .catch((error) => {
            console.log('Error')
            console.log(error)
          })
      } catch (error) {
        console.log(error)
      }
    },
    saveUser () {
      if (this.$refs.form.validate()) {
        this.saveData()
      }
    },
    async saveData () {
      var pais = String(this.txtpais)
      try {
        this.loading = true
        await axios.post('http://localhost:2083/users-backend/public/usuario', {
          nombres: this.txtnombres,
          apellidos: this.txtapellidos,
          cedula: this.txtcedula,
          pais: pais,
          email: this.txtemail,
          direccion: this.txtdireccion,
          celular: this.txtcelular
        })
          .then(response => {
            alert(response.data.respuesta)
            console.log(response)
            this.loadData()
            this.dialog = false
          })
          .catch((error) => {
            console.log('Error')
            console.log(error)
          })
      } catch (error) {
        console.log(error)
      }
    },
    openEdit (item) {
      this.editItem = item
      this.txtcedula = item.cedula
      this.txtnombres = item.nombres
      this.txtapellidos = item.apellidos
      this.txtpais = item.pais
      this.txtemail = item.email
      this.txtdireccion = item.direccion
      this.txtcelular = item.celular
      this.dialog = true
    },
    async deleteRecord (item) {
      var id = item.id
      try {
        this.loading = true
        await axios.delete('http://localhost:2083/users-backend/public/usuario', {
          params: {
            id: id
          }
        })
          .then(response => {
            alert(response.data.respuesta)
            console.log(response)
            this.loadData()
          })
          .catch((error) => {
            console.log('Error')
            console.log(error)
          })
      } catch (error) {
        console.log(error)
      }
    }
  },
  computed: {
    formTitle () {
      return this.editItem.length === 0 ? 'Agregar registro' : 'Editando registro'
    }
  }
}
</script>
