<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-icon large>mdi-account</v-icon>
        <h1 class="ml-2">Users</h1>
      </div>
    </v-app-bar>
    <v-main class="mt-6">
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    //
  })
}
</script>
<style scoped>
#app {
  background-image: url("@/assets/pattern.jpg");
  background-size : cover;
}
</style>
